@font-face
    font-family: 'Montserrat'
    font-weight: normal
    font-style: normal
    font-display: swap
    text-rendering: optimizeLegibility
    src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff")

@font-face
  font-family: 'Montserrat'
  font-weight: bold
  font-style: normal
  font-display: swap
  text-rendering: optimizeLegibility
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff")