@import ../variables
@import ../mixin

html
    background-color: #fff

body
    max-width: 1920px
    margin: 0 auto
    @include font-size(12px, 20px)
    font-family: "Montserrat"

#app
    overflow: hidden

h1, h2, p
    margin: 0

button, a, picture, img, input
    display: block

button
    padding: 0
    background-color: transparent
    border: none
    font-family: "Montserrat"

input
    padding: 0
    background-color: transparent
    border: none
    appearance: none
    transition: all .4s
    font-family: 'Montserrat'
    &::placeholder
        color: $gray
        font-family: 'Montserrat'
    &:focus
        outline: none

ul
    margin: 0
    padding: 0
    list-style: none

.d-none
    display: none

.d-flex
    display: flex

.flex-wrap
    flex-wrap: wrap

.justify-content-between
    justify-content: space-between

.justify-content-center
    justify-content: center

.align-items-center
    align-items: center

.btn
    width: 100%
    margin: 0 auto
    padding: 7px 10px 9px
    background-color: $bordo
    font-family: 'Montserrat'
    @include font-size(12px, 20px)
    color: #fff
    text-align: center

.btn-border_b
    position: relative
    @include font-size(14px, 17px)
    text-transform: lowercase
    &::after
        content: ""
        display: block
        width: 100%
        height: 3px
        background-color: $bordo
        position: absolute
        right: 0
        bottom: -3px
        left: 0

.input
    width: 100%
    padding: 9px 15px
    box-sizing: border-box
    border: 1px solid $gray-dark
    @include  font-size(16px, 20px)
    color: $gray

.section-title
    @include font-size(18px, 28px, bold)
    & .text
        &-bordo
            color: $bordo
        &-gold
            color: $gold
