<template>
    <section class="ab">
        <div class="container">
            <h2 class="section-title">{{title}}</h2>
            <div class="ab-content">
                <div class="ab-info">
                    <div class="swiper-pagination ab-pagination"></div>
                    <p class="ab-info_title">{{curItem.title}}</p>
                    <p class="ab-info_area">площадь: <span>{{curItem.area}} м2</span></p>
                    <p class="ab-info_time">срок реализации: <span>{{curItem.time}}</span></p>
                </div>
                <div class="ab-slider">
                    <picture class="ab-slider_after">
                        <source media="(min-width: 1200px)" :srcset="curItem.after.desktop">
                        <source media="(min-width: 576px)" :srcset="curItem.after.tablet">
                        <img :src="curItem.after.mobile" alt="img">
                    </picture>
                    <picture class="ab-slider_before">
                        <source media="(min-width: 1200px)" :srcset="curItem.before.desktop">
                        <source media="(min-width: 576px)" :srcset="curItem.before.tablet">
                        <img :src="curItem.before.mobile" alt="img">
                    </picture>
                    <div class="ab-slider_scroller">
                        <div class="ab-slider_scroller__circle"></div>
                    </div>
                </div>
                <div class="swiper ab-nav">
                    <div class="swiper-wrapper">
                        <div v-for="(item, index) in items" :key="index" @click="setCurItem(index)" class="swiper-slide">
                            <img :src="item.imgNav" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
import Swiper, { Pagination } from 'swiper'
export default {
    name: 'AfterBefore',
    data () {
        return {
            title: '',
            items: [],
            curItem: {
                title: '',
                area: '',
                time: '',
                after: {},
                before: {}
            },
            swiperOptions: {
                modules: [Pagination],
                pagination: {
                    el: '.ab-pagination',
                    type: 'fraction'
                },
                slideToClickedSlide: true,
                slidesPerView: 3,
                spaceBetween: 6
            }
        }
    },
    created () {
        getApiData().then((response) => {
            const abParam = response.data.frontPageSettings.acf.home_page_ab
            this.title = abParam.title
            for (const key in abParam.content) {
                const { item_title: title, item_area: area, item_time: time, item_visual: imgVisual, item_repair: imgRepair } = abParam.content[key]
                if (title.length < 1) continue
                const visualSizes = Object.assign({}, imgVisual.sizes)
                const repairSizes = Object.assign({}, imgRepair.sizes)
                const obj = {
                    title,
                    area,
                    time,
                    imgVisual: {
                        desktop: imgVisual.url,
                        tablet: visualSizes.large,
                        mobile: visualSizes.mobile
                    },
                    imgRepair: {
                        desktop: imgRepair.url,
                        tablet: repairSizes.large,
                        mobile: repairSizes.mobile
                    },
                    imgNav: visualSizes.mobile
                }
                this.items.push(obj)
            }
            this.setCurItem(0)
        })
    },
    mounted () {
        const swiper = new Swiper('.ab-nav', this.swiperOptions)
        swiper.on('slideChange', function () {
            console.log('slide changed')
        })
    },
    methods: {
        setCurItem (index) {
            const { title, area, time, imgVisual: after, imgRepair: before } = this.items[index]
            this.curItem = { title, area, time, after, before }
        }
    }
}
</script>
