<template>
    <section class="acquaintance">
        <div class="container">
            <div class="acquaintance-content">
                <h2 class="section-title">{{title}}</h2>
                <picture class="acquaintance_pic">
                    <source media="(min-width: 576px)" :srcset="imgDesk">
                    <img :src="imgMob" alt="image">
                </picture>
                <article class="d-none" v-html="textDesk"></article>
                <article class="d-block" v-html="text"></article>
                <form action="" class="acquaintance_form">
                    <p class="acquaintance_form__title">Оставьте контакты, мы перезвоним и уточним удобное время для встречи</p>
                    <div class="acquaintance_form__wrap">
                        <label>Ваш номер телефона</label>
                        <input class="input" type="text" placeholder="+7(___) __-__-___">
                    </div>
                    <input type="submit" value="Записаться" class="btn">
                </form>
            </div>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
export default {
    name: 'Acquaintance',
    data () {
        return {
            title: '',
            text: '',
            textDesk: '',
            imgMob: '',
            imgDesk: ''
        }
    },
    created () {
        getApiData().then((response) => {
            const content = response.data.frontPageSettings.acf.home_page_acquaintance
            this.title = content.title
            this.text = content.text
            this.textDesk = content.text_desk
            this.imgMob = content.image_mob
            this.imgDesk = content.image_desk
        })
    }
}
</script>,
