<template>
    <section class="benefits">
        <div class="container">
            <div class="benefits-content">
                <h2 class="section-title" v-html="benefitsData.title"></h2>
                <ul class="benefits-content_list">
                    <li v-for="(item, index) in benefitsData.content" :key="index" class="benefits-content_list__item">
                        <p class="benefits-content_list__item-title">{{item.title}}</p>
                        <p class="benefits-content_list__item-desc">{{item.desc}}</p>
                    </li>
                </ul>
            </div>
            <picture class="benefits-image">
                <source media="(min-width: 768px)" :srcset="images.full">
                <img :src="images.mobile" alt="image">
            </picture>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
export default {
    name: 'Benefits',
    props: { device: { type: String } },
    data () {
        return {
            benefitsData: {},
            images: {
                mobile: '',
                full: ''
            }
        }
    },
    beforeCreate () {
        getApiData().then((response) => {
            const benefits = response.data.frontPageSettings.acf.home_page_benefits
            this.benefitsData = benefits
            this.images.mobile = benefits.image.sizes.mobile
            this.images.full = benefits.image.url
        })
    }
}
</script>
