<template>
    <section class="company">
        <div class="container">
            <h2 class="section-title">{{title}}</h2>
            <ul class="company_list d-flex flex-wrap justify-content-between">
                <li v-for="(item, index) in logos" :key="index" class="company_list__item">
                    <img :src="item" alt="Logo">
                </li>
            </ul>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
export default {
    name: 'Company',
    data () {
        return {
            title: '',
            logos: []
        }
    },
    created () {
        getApiData().then((response) => {
            const content = response.data.frontPageSettings.acf.home_page_company
            this.title = content.title
            const company = content.company
            for (const key in company) {
                const logo = company[key]
                if (!logo) continue
                this.logos.push(logo)
            }
        })
    }
}
</script>
