<template>
    <section class="contacts">
        <div class="container">
            <div class="contacts_content">
                <h2 class="section-title">{{title}}</h2>
                <ul class="contacts_list">
                    <li class="contacts_list__item">
                        <p class="contacts_list__item-title">Мы находимся</p>
                        <p class="contacts_list__item-subtitle">{{adress}}</p>
                    </li>
                    <li class="contacts_list__item">
                        <p class="contacts_list__item-title">Метро</p>
                        <p class="contacts_list__item-subtitle">{{station}}</p>
                    </li>
                    <li class="contacts_list__item">
                        <p class="contacts_list__item-title">Телефон</p>
                        <a :href="phone" class="contacts_list__item-subtitle contacts_list__item-subtitle_link">{{phone}}</a>
                    </li>
                </ul>
            </div>
            <picture class="contacts_pic">
                <source media="(min-width: 576px)" :srcset="picDesk">
                <img :src="picMob" alt="image">
            </picture>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
export default {
    name: 'Contacts',
    data () {
        return {
            title: '',
            picMob: '',
            picDesk: '',
            adress: '',
            station: '',
            phone: ''
        }
    },
    created () {
        getApiData().then((response) => {
            const params = response.data.frontPageSettings.acf.home_page_contacts
            this.title = params.title
            this.picMob = params.image_mob
            this.picDesk = params.image_desk
            this.adress = params.adress
            this.station = params.station
            this.phone = `tel:${params.phone}`
        })
    }
}
</script>
