<template>
    <section class="fs">
        <picture class="fs-bg">
            <source media="(min-width: 1200px)" :srcset="images.desktop">
            <source media="(min-width: 992px)" :srcset="images.tablet_l">
            <source media="(min-width: 576px)" :srcset="images.tablet_s">
            <img :src="images.mobile" alt="image" loading="lazy" />
        </picture>
        <div class="container">
            <article class="fs-content">
                <h1 class="fs_title">{{fsData.title}}</h1>
                <p class="fs_subtitle">{{fsData.subtitle}}</p>
            </article>
            <div class="fs-calc">
                <p class="fs-calc-title">Рассчитайте стоимость проекта</p>
                <div class="fs-calc-body">
                    <div class="fs-calc_item fs-calc_item-area">
                        <div class="fs-calc_item-wrapper d-flex align-items-center">
                            <p class="fs-calc_item__title">Площадь объекта</p>
                            <input type="number" id="fs-calc-area" v-model="areaValue" :min="areaMin" :max="areaMax">&nbsp;<span>м<sup>2</sup></span>
                        </div>
                        <div class="fs-calc_item-wrapper">
                            <input type="range" id="fs-calc-range" class="d-none" v-model="areaValue" :min="areaMin" :max="areaMax">
                            <vue3-slider v-model="areaValue" :min="areaMin" :max="areaMax" />
                        </div>
                    </div>
                    <div class="fs-calc_item fs-calc_item-object">
                        <p class="fs-calc_item__title">Тип объекта</p>
                        <div class="fs-calc_item-wrapper">
                            <div class="fs-calc_item__radio">
                                <input type="radio" name="fs-calc-objects" id="fs-apartment">
                                <label for="fs-apartment">Квартира</label>
                            </div>
                            <div class="fs-calc_item__radio">
                                <input type="radio" name="fs-calc-objects" id="fs-house" checked>
                                <label for="fs-house">Загородный дом</label>
                            </div>
                            <div class="fs-calc_item__radio">
                                <input type="radio" name="fs-calc-objects" id="fs-office">
                                <label for="fs-office">Офис</label>
                            </div>
                            <div class="fs-calc_item__radio">
                                <input type="radio" name="fs-calc-objects" id="fs-townhouse">
                                <label for="fs-townhouse">Таунхаус</label>
                            </div>
                        </div>
                    </div>
                    <div class="fs-calc_item fs-calc_item-repair d-flex align-items-center">
                        <p class="fs-calc_item__title">Нужен ремонт?</p>
                        <div class="fs-calc_item-wrapper">
                            <input type="checkbox" id="fs-calc-repair" class="d-none">
                            <label for="fs-calc-repair"></label>
                        </div>
                    </div>
                    <div class="fs-calc_item fs-calc_item-ratebar">
                        <p class="fs-calc_item__title">Время создания проекта</p>
                        <div class="fs-calc_item-wrapper">
                            <p class="fs-calc_item-ratebar_item fs-calc_item-ratebar_item__we">Мы - <span>370</span>ч</p>
                            <p class="fs-calc_item-ratebar_item fs-calc_item-ratebar_item__you">Вы - <span>10</span>ч</p>
                        </div>
                    </div>
                </div>
                <button class="fs-calc-btn btn">Узнать стоимость</button>
            </div>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
import slider from 'vue3-slider'
export default {
    name: 'FirstScreen',
    props: { device: { type: String } },
    components: { 'vue3-slider': slider },
    data () {
        return {
            areaValue: 78,
            areaMin: 20,
            areaMax: 400,
            fsData: {},
            images: {
                mobile: '',
                tablet_s: '',
                teblet_l: '',
                desktop: ''
            }
        }
    },
    beforeCreate () {
        getApiData().then((response) => {
            const firstScreen = response.data.frontPageSettings.acf.home_page_fs
            this.fsData = firstScreen
            this.images.mobile = firstScreen.bg_mob
            this.images.tablet_s = firstScreen.bg_desk.sizes['tablet-small']
            this.images.tablet_l = firstScreen.bg_desk.sizes['tablet-large']
            this.images.desktop = firstScreen.bg_desk.url
        })
    }
}
</script>
