<template>
    <header class="header">
        <div class="container-full d-flex justify-content-between">
            <a href="/" class="header-logo"></a>
            <transition name="nav-slide" v-if="isShowNav">
                <nav class="header-nav">
                    <ul class="header-nav_list">
                        <li v-for="(item, index) in navbar" class="header-nav_list__item" :key="index">
                            <a href="item.url">{{item.title}}</a>
                        </li>
                    </ul>
                    <template v-if="display != 'desktop'">
                        <div class="header-nav-wrapper">
                            <button class="header-nav_toggle btn-border_b">Позвоните мне</button>
                            <p class="header-nav_subtext">Сайт не является публичной офертой и носит информационный характер</p>
                        </div>
                    </template>
                </nav>
            </transition>
            <template v-if="display == 'desktop'">
                <div class="header-contacts d-flex">
                    <button class="header-contacts_toggle btn-border_b">Позвоните мне</button>
                    <a href="tel:8 (495) 988-55-37" class="header-contacts_no">8 (495) 988-55-37</a>
                </div>
            </template>
            <ul class="header-social d-flex justify-content-center align-items-center">
                <template v-if="display != 'desktop'">
                    <li class="header-social_item"><a href="tel:8 (495) 988-55-37" class="header-social_item__call"></a></li>
                </template>
                <li class="header-social_item"><a href="" class="header-social_item__instagram"></a></li>
                <li class="header-social_item"><a href="" class="header-social_item__pinterest"></a></li>
                <li class="header-social_item"><a href="" class="header-social_item__houzz"></a></li>
            </ul>
            <template v-if="display != 'desktop'">
                <button class="header-burger" :class="{active: isShowNav}" @click="isShowNav = !isShowNav">
                    <span class="header-burger_line"></span>
                    <span class="header-burger_line"></span>
                </button>
            </template>
        </div>
    </header>
</template>

<script>
import { getApiData } from '@/api.js'
export default {
    name: 'Header',
    props: { display: { type: String } },
    data () {
        return {
            navbar: [],
            isShowNav: false,
            isActiveBurger: false
        }
    },
    beforeCreate () {
        getApiData().then((response) => { this.navbar = response.data.menu })
    },
    created () {
        if (this.display === 'desktop') {
            this.isShowNav = true
        }
    }
}
</script>
