<template>
    <section class="media">
        <div class="container">
            <h2 class="section-title">{{title}}</h2>
            <ul class="media_list d-flex flex-wrap justify-content-between">
                <li v-for="(item, index) in content" :key="index" class="media_list__item">
                    <picture class="media_list__item-pic">
                        <img :src="item.item_pic" alt="image">
                    </picture>
                    <p class="media_list__item-number">{{item.item_number}}</p>
                    <p class="media_list__item-month">{{item.item_month}}</p>
                </li>
            </ul>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
export default {
    name: 'Media',
    data () {
        return {
            title: '',
            content: []
        }
    },
    created () {
        getApiData().then((response) => {
            const params = response.data.frontPageSettings.acf.home_page_publications
            this.title = params.title
            for (const key in params.content) {
                const pic = params.content[key].item_pic
                if (!pic) continue
                this.content.push(params.content[key])
            }
        })
    }
}
</script>
