<template>
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="section-title" v-html="title"></h2>
            <div class="portfolio_category">
                <p class="portfolio_category__title">Стиль:</p>
                <ul class="portfolio_category__list d-flex">
                    <li class="portfolio_category__list-item"
                        v-for="item in category"
                        :key="item.id"
                        :class="{active: item.isActive}"
                        :data-slug="item.slug">
                            {{item.title}}
                    </li>
                </ul>
            </div>
            <div class="portfolio_objects">
                <p class="portfolio_objects__title">Объект:</p>
                <ul class="portfolio_objects__list d-flex">
                    <li class="portfolio_objects__list-item"
                        v-for="item in selectedCategoryObjects"
                        :key="item.id"
                        :class="{active: item.isActive}">
                            {{item.area}} <span>м<small><sup>2</sup></small></span>
                    </li>
                </ul>
            </div>
            <div class="portfolio_item">
                <div class="swiper portfolio_item-gallery">
                    <div class="swiper-wrapper">
                        <template v-if="display === 'mobile'">
                            <div v-for="(item, index) in curObject.portfolio_photo_small" :key="index" class="swiper-slide">
                                <img :src="item" alt="image" class="portfolio_item__photo">
                            </div>
                        </template>
                        <template v-else>
                            <div v-for="(item, index) in curObject.portfolio_photo_full" :key="index" class="swiper-slide">
                                <img :src="item" alt="image" class="portfolio_item__photo">
                            </div>
                        </template>
                    </div>
                    <div class="swiper-pagination portfolio_item-gallery_pag"></div>
                </div>
                <article class="portfolio_item-body">
                    <p class="portfolio_item__title">{{curObject.portfolio_title}}</p>
                    <p class="portfolio_item__desc">{{curObject.portfolio_desc}}</p>
                    <p class="portfolio_item__customer d-flex align-items-center">
                        <img :src="curObject.portfolio_customer_photo" alt="photo">
                        <span>{{curObject.portfolio_customer_name}}</span>
                    </p>
                    <p class="portfolio_item__comment">{{curObject.portfolio_customer_comment}}</p>
                    <button class="btn">Посмотреть проект</button>
                </article>
            </div>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
import Swiper, { Pagination } from 'swiper'
export default {
    name: 'Portfolio',
    props: { display: { type: String } },
    data () {
        return {
            title: '',
            category: {},
            selectedCategorySlug: '',
            selectedCategoryObjects: [],
            curObject: {},
            swiperOptions: {
                modules: [Pagination],
                pagination: {
                    el: '.portfolio_item-gallery_pag',
                    type: 'fraction'
                }
            }
        }
    },
    created () {
        getApiData().then((response) => {
            const pageSettings = response.data.frontPageSettings
            const portfolioParams = pageSettings.acf.home_page_portfolio
            const portfolioList = response.data.portfolio

            this.title = portfolioParams.title

            const categoryList = portfolioParams.category
            categoryList.forEach((item, index) => {
                const slug = item.slug
                const categoryItem = {
                    id: item.term_id,
                    title: item.name,
                    slug: slug,
                    objects: portfolioParams[`object_list_${slug}`],
                    isActive: false
                }

                if (index === 0) {
                    categoryItem.isActive = true
                    const curObjectID = portfolioParams[`object_list_${slug}`][0]
                    this.selectedCategorySlug = slug
                    this.curObject = portfolioList[curObjectID]
                }

                this.category[slug] = categoryItem
            })

            const objects = this.category[this.selectedCategorySlug].objects
            objects.forEach((item, index) => {
                const area = portfolioList[item].portfolio_area
                const obj = { area: area, id: item, isActive: false }
                if (index === 0) {
                    obj.isActive = true
                }
                this.selectedCategoryObjects.push(obj)
            })
        })
    },
    mounted () {
        const swiper = new Swiper('.portfolio_item-gallery', this.swiperOptions)
        swiper.on('slideChange', function () {
            console.log('slide changed')
        })
    }
}
</script>
