<template>
    <section class="process">
        <div class="container">
            <h2 class="section-title">{{title}}</h2>
            <div class="process-content">
                <div v-for="(step, index) in steps" :key="index" class="process-content_item">
                    <template v-if="index === 'step_3'">
                        <div class="swiper process-step_3">
                            <div class="swiper-wrapper">
                                <div v-for="(item, id) in step.pictures" :key="id" class="swiper-slide">
                                    <picture class="process-content_item__pic">
                                        <source media="(min-width: 576px)" :srcset="item.dektop">
                                        <img :src="item.mobile" alt="img">
                                    </picture>
                                </div>
                            </div>
                            <div class="process-pagination"></div>
                        </div>
                    </template>
                    <template v-else-if="index === 'step_5'">
                        <div class="swiper process-step_5">
                            <div class="swiper-wrapper">
                                <div v-for="(item, id) in step.videos" :key="id" class="swiper-slide">
                                    <picture class="process-content_item__pic">
                                        <source media="(min-width: 576px)" :srcset="item.pic_dektop">
                                        <img :src="item.pic_mobile" alt="img">
                                    </picture>
                                </div>
                            </div>
                            <div class="process-pagination"></div>
                        </div>
                    </template>
                    <template v-else>
                        <picture class="process-content_item__pic">
                            <source media="(min-width: 576px)" :srcset="step.pic_desktop">
                            <img :src="step.pic_mobile" alt="img">
                        </picture>
                    </template>
                    <div class="process-content_item-wrapper">
                        <p class="process-content_item__title">{{step.title}}</p>
                        <div class="process-content_item__desc" v-html="step.desc"></div>
                    </div>
                </div>
            </div>
            <button class="btn">Записаться на консультацию</button>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
import Swiper, { Pagination } from 'swiper'
export default {
    name: 'Process',
    data () {
        return {
            title: '',
            steps: {
                step_1: {},
                step_2: {},
                step_3: {},
                step_4: {},
                step_5: {}
            },
            swiperOptions: {
                modules: [Pagination],
                pagination: {
                    el: '.process-paginaton',
                    type: 'fraction'
                }
            }
        }
    },
    created () {
        getApiData().then((response) => {
            const processParams = response.data.frontPageSettings.acf.home_page_process
            const content = processParams.content
            this.title = processParams.title
            for (const key in content) {
                const { step_title: title, step_desc: desc } = content[key]
                const obj = { title, desc }
                if (key === 'step_3') {
                    obj.pictures = []
                    const imageObj = content[key].step_pictures
                    for (const item in imageObj) {
                        const imageSizes = Object.assign({}, imageObj[item].sizes)
                        const image = {
                            desktop: imageObj[item].url,
                            mobile: imageSizes.mobile
                        }
                        obj.pictures.push(image)
                    }
                } else if (key === 'step_5') {
                    obj.videos = []
                    const videos = content[key].step_videos
                    for (const item in videos) {
                        const wrap = { video: videos[item].video }
                        const image = videos[item].image
                        if (!image) continue
                        wrap.pic_desktop = image.url
                        wrap.pic_mobile = image.sizes.mobile
                        obj.videos.push(wrap)
                    }
                } else {
                    const picSizes = Object.assign({}, content[key].step_pic.sizes)
                    obj.pic_mobile = picSizes.mobile
                    obj.pic_desktop = content[key].step_pic.url
                }
                this.steps[key] = obj
            }
        })
    },
    mounted () {
        const swiperStep3 = document.querySelector('.swiper.process-step_3')
        const swiperStep5 = document.querySelector('.swiper.process-step_5')
        if (swiperStep3) {
            const swiper = new Swiper(swiperStep3, this.swiperOptions)
            swiper.on('slideChange', function () {
                console.log('slide changed')
            })
        }
        if (swiperStep5) {
            const swiper = new Swiper(swiperStep5, this.swiperOptions)
            swiper.on('slideChange', function () {
                console.log('slide changed')
            })
        }
    }
}
</script>
