<template>
    <section class="tariffs" id="tariffs">
        <div class="container">
            <h2 class="section-title">{{title}}</h2>
            <ul class="tariffs-list d-flex">
                <li
                    v-for="(item, index) in navi"
                    :key="index"
                    :class="{active: item.isActive}"
                    class="tariffs-list_item">{{item.title}}</li>
            </ul>
            <div class="tariffs-card">
                <picture class="tariffs-card_pic">
                    <source media="(min-width: 576px)" :srcset="curTariff.tariff_pic_desk">
                    <img :src="curTariff.tariff_pic_mob" alt="Image">
                </picture>
                <div class="tariffs-card_body">
                    <article class="tariffs-card_body__list tariffs-card_body__list-included">
                        <p class="tariffs-card_body__list-title">Входит в проект</p>
                        <div v-html="curTariff.tariff_included"></div>
                    </article>
                    <article class="tariffs-card_body__list tariffs-card_body__list-feat">
                        <p class="tariffs-card_body__list-title">Особенности проекта</p>
                        <div v-html="curTariff.tariff_feat"></div>
                    </article>
                    <p class="tariffs-card_body__price">от <span>{{curTariff.tariff_price}}</span> руб / м<small><sup>2</sup></small></p>
                    <button class="tariffs-card_body__btn btn">Рассчитать стоимость</button>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
export default {
    name: 'Tariffs',
    data () {
        return {
            title: '',
            navi: [],
            tariffs: [],
            curTariff: {}
        }
    },
    created () {
        getApiData().then((response) => {
            const activeItem = 1
            this.title = response.data.frontPageSettings.acf.home_page_tariffs.title
            this.tariffs = response.data.tariffs
            this.navi = response.data.tariffs.map((item, index) => {
                const obj = {
                    title: item.tariff_name,
                    isActive: index === activeItem
                }
                return obj
            })
            this.curTariff = response.data.tariffs[activeItem]
        })
    }
}
</script>
