<template>
    <section class="team" id="team">
        <div class="container">
            <h2 class="section-title">{{title}}</h2>
            <div class="swiper team-swiper">
                <div class="swiper-wrapper">
                    <div v-for="(item, index) in team" :key="index" class="swiper-slide team_item">
                        <img :src="item.team_photo" alt="Photo" class="team_item__photo">
                        <p class="team_item__name">{{item.team_name}}</p>
                        <p class="team_item__position">{{item.team_position}}</p>
                        <p class="team_item__practice">{{item.team_practice}}</p>
                        <div class="team_item__internship">
                            <p>Международные стажировки </p>
                            <div class="d-flex">
                                <img v-for="(img, id) in item.team_intership" :key="id" :src="img" alt="Flag">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
import Swiper from 'swiper'
export default {
    name: 'Team',
    data () {
        return {
            title: '',
            team: [],
            swiperOptions: {
                slidesPerView: 'auto',
                spaceBetween: 20
            }
        }
    },
    created () {
        getApiData().then((response) => {
            this.title = response.data.frontPageSettings.acf.home_page_team.title
            this.team = response.data.team
        })
    },
    mounted () {
        const swiper = new Swiper('.team-swiper', this.swiperOptions)
        swiper.on('slideChange', function () {
            console.log('slide changed')
        })
    }
}
</script>
