<template>
    <section class="trends">
        <div class="container">
            <h2 class="section-title" v-html="title"></h2>
            <div class="swiper trends-swiper">
                <div class="swiper-wrapper">
                    <div v-for="(item, index) in contentList" :key="index" class="swiper-slide trends-swiper_item">
                        <img :src="item.content_item_pic" alt="image" class="trends-swiper_item__pic">
                        <p class="trends-swiper_item__title">{{item.content_item_title}}</p>
                        <p class="trends-swiper_item__desc">{{item.content_item_desc}}</p>
                    </div>
                </div>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
            </div>
        </div>
    </section>
</template>
<script>
import { getApiData } from '@/api.js'
import Swiper, { Navigation } from 'swiper'
export default {
    name: 'Trends',
    data () {
        return {
            title: '',
            contentList: [],
            swiperOptions: {
                spaceBetween: 45,
                modules: [Navigation],
                navigation: {
                    nextEl: '.trends-swiper .swiper-button-next',
                    prevEl: '.trends-swiper .swiper-button-prev'
                }
            }
        }
    },
    created () {
        getApiData().then((response) => {
            const params = response.data.frontPageSettings.acf.home_page_trends
            this.title = params.title
            this.contentList = Object.values(params.content)
        })
    },
    mounted () {
        const swiper = new Swiper('.trends-swiper', this.swiperOptions)
        swiper.on('slideChange', function () {
            console.log('slide changed')
        })
    }
}
</script>
