.ab
    padding-top: 30px
    background-color: $black
    color: #fff
    & .section-title
        padding: 0 20px
    &-info
        padding: 20px 20px 10px
        &_title
            margin-bottom: 10px
            @include font-size(16px, 26px, bold)
        &_area, &_time
            margin-bottom: 10px
            color: $gray
            & span
                padding-left: 10px
                color: #fff
    &-pagination
        margin-bottom: 10px
        font-size: 16px
        text-align: left
        color: $gray
        position: static
        & .swiper-pagination-total
            font-size: 10px
    &-slider
        position: relative
        &::before, &::after
            content: "визуал"
            padding: 3px 9px
            background-color: rgba(32, 32, 32, .8)
            border-radius: 5px
            @include font-size(10px, 16px)
            position: absolute
            top: 10px
            left: 10px
            z-index: 1
        &::after
            content: "ремонт"
            right: 10px
            left: auto
        &_after, &_before
            & img
                width: 100%
        &_after
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
        &_scroller
            width: 2px
            height: 100%
            background-color: #fff
            position: absolute
            top: 0
            bottom: 0
            left: calc( 50% - 1px )
            &__circle
                width: 34px
                height: 34px
                background-color: #fff
                border-radius: 50%
                position: absolute
                top: calc( 50% - 17px )
                left: calc( 50% - 17px )
                &::before, &::after
                    content: "\276E"
                    @include font-size(10px, 1, bold)
                    color: $bordo
                    position: absolute
                    top: calc( 50% - 4px )
                    left: 25%
                &::after
                    content: "\276F"
                    right: 25%
                    left: auto
    &-nav
        padding-top: 6px
        & img
            width: 100%
