.acquaintance
    padding: 30px 20px
    background-color: $black
    color: #fff
    &_pic
        margin: 21px auto
        & img
            width: 100%
    &-content ul
        margin: 17px auto 7px
        & li
            padding-bottom: 10px
            padding-left: 30px
            position: relative
            &::before
                content: ""
                width: 15px
                height: 2px
                background-color: $gold
                position: absolute
                top: 9px
                left: 0
    &_form
        &__title
            margin-bottom: 17px
            font-weight: bold
        &__wrap
            margin-bottom: 10px
            & label
                display: block
                margin-bottom: 5px
                color: $gray