.benefits
    padding-bottom: 10px
    &-content
        padding: 0 20px
        &_list
            padding-top: 25px
            padding-bottom: 10px
            &__item
                padding-bottom: 20px
                padding-left: 30px
                position: relative
                &::before
                    content: ""
                    display: block
                    width: 15px
                    height: 2px
                    background-color: $gold
                    position: absolute
                    top: 8px
                    left: 0
                &-title
                    margin-bottom: 10px
                    font-weight: bold
    &-image img
        width: 100%