.company
    padding: 30px 20px 0
    & .section-title
        @include font-size(16px, 26px, bold)
    &_list
        padding-top: 4px
        &__item
            width: calc( 50% - 8px )
            margin-top: 16px
            border: 1px solid $gray-light
            & img
                width: 100%