.fs
    position: relative
    &-bg
        position: absolute
        top: 0
        right: 0
        left: 0
        &::after
            content: ""
            background: linear-gradient(180deg, rgba(32, 32, 32, 0.9) 0%, rgba(32, 32, 32, 0.6) 20.07%, rgba(32, 32, 32, 0.48) 45.95%, rgba(32, 32, 32, 0.4) 71.3%, rgba(32, 32, 32, 0.2) 99.3%)
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
        & img
            width: 100%
            height: 100%
            min-height: 100vh
            object-fit: cover
    & .container
        padding: 140px 20px 30px
        color: #fff
        position: relative
    &_title
        @include font-size(24px, 28px, bold)
    &_subtitle
        padding-top: 15px
        padding-bottom: 40px
    &-calc
        padding: 18px 20px 30px
        background-color: $black
        &-title
            font-weight: bold
        &-body
            padding-top: 20px
            padding-bottom: 5px
        &_item
            padding-bottom: 20px
            &__title
                color: $gray
            &-area
                & .vue3-slider
                    margin-top: 16px
                    margin-bottom: 0
                    & .track
                        background-color: $gray
                    & .track-filled
                        background-color: $gold
                    & .handle
                        width: 16px
                        height: 16px
                        background-color: $gold
                        border-radius: 8px
                        transform: scale(1)
                        box-shadow: 0px 0px 10px #473A2A
                        top: -5px
            & input[type="number"]
                width: 50px
                margin-right: 8px
                margin-left: 30px
                padding: 5px
                box-sizing: border-box
                border: 1px solid $gray-dark
                @include font-size(16px, 20px)
                font-family: "Montserrat"
                color: #fff
                text-align: center
                &+span
                    text-transform: uppercase
            &__radio:first-child
                margin-top: 5px
            & input[type="radio"]
                display: none
                &+label
                    display: block
                    padding: 5px 5px 5px 26px
                    position: relative
                    &::before
                        content: ""
                        display: block
                        width: 14px
                        height: 14px
                        border: 1px solid $gray
                        border-radius: 7px
                        box-sizing: border-box
                        transition: border .2s linear
                        position: absolute
                        top: 7px
                        left: 0
                &:checked+label::before
                    border-color: $gold
                    border-width: 4px
            & input[type="checkbox"]
                &+label
                    display: block
                    width: 30px
                    height: 15px
                    margin-left: 22px
                    background-color: $gray
                    border: 2px solid $gray
                    border-radius: 10px
                    transition: all .2s
                    position: relative
                    &::before
                        content: ""
                        display: block
                        background-color: #fff
                        border-radius: 8px
                        transition: left .1s linear, right .15s linear .2s
                        position: absolute
                        top: 0
                        right: 50%
                        bottom: 0
                        left: 0
                &:checked+label
                    background-color: $gold
                    border-color: $gold
                    &::before
                        right: 0
                        left: 50%
                        transition: right .1s linear, left .15s linear .2s
            &-ratebar &-wrapper
                height: 22px
                margin-top: 10px
                border: 1px solid $gray-dark
                position: relative
            &-ratebar
                &_item
                    padding-right: 8px
                    background-color: $gold
                    font-size: 10px
                    text-align: right
                    transition: all .4s
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    &__we
                        right: 40%
                    &__you
                        right: 70%
                        background: linear-gradient(115deg, $gold 25%, $gold-light 0, $gold-light 50%, $gold 0, $gold 75%, $gold-light 0)
                        background-size: 25px 50px