.header
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 101
    &.scrolled .container-full
        background-color: $black
    & .container-full
        width: 100%
        max-width: 1920px
        margin: 0 auto
        border-bottom: 1px solid $gray
        position: relative
    &-logo
        width: 55px
        height: 55px
        background-color: $black
        background-image: url(../img/logo-mob.png)
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        border-right: 1px solid $gray
        position: relative
        z-index: 100
        &::before
            content: ""
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
    &-nav
        min-height: 100vh
        padding-top: 56px
        background-color: $black
        color: #fff
        position: absolute
        top: 0
        right: 0
        left: 0
        z-index: 99
        &_list
            padding: 40px 20px 10px
            border-top: 1px solid $gray
            &__item a
                margin-bottom: 10px
                padding-bottom: 10px
                @include font-size(18px, 28px, bold)
                color: #fff
                text-decoration: none
        &-wrapper
            padding: 0 20px 20px
        &_toggle
            color: #fff
        &_subtext
            padding-top: 45px
            color: $gray
            @include font-size(12px, 20px)
    &-social_item
        height: 20px
        position: relative
        z-index: 100
        & a
            width: 20px
            height: 20px
            margin: 0 10px
            background-position: center
            background-repeat: no-repeat
            background-size: cover
        &__call
            background-image: url(../img/header-call.png)
        &__instagram
            background-image: url(../img/social-instagram.png)
        &__pinterest
            background-image: url(../img/social-pinterest.png)
        &__houzz
            background-image: url(../img/social-houzz.png)
    &-burger
        width: 55px
        height: 55px
        border-left: 1px solid $gray
        position: relative
        z-index: 100
        &_line
            display: block
            width: 30px
            height: 2px
            background-color: $gray
            transition: top .2s linear .2s, transform .2s linear
            position: absolute
            left: calc( 50% - 15px )
            &:first-child
                top: calc( 50% - 4px )
            &:last-child
                top: calc( 50% + 4px )
        &.active &_line
            top: 50%
            transition: top .2s linear, transform .2s linear .2s
            &:first-child
                transform: rotate(45deg)
            &:last-child
                transform: rotate(-45deg)
