.media
    padding: 30px 20px
    background-color: $black
    color: #fff
    &_list
        padding-top: 5px
        &__item
            width: calc( 50% - 10px )
            margin-top: 20px
            &-pic
                display: flex
                align-items: flex-end
                height: 39px
                padding-bottom: 10px
                border-bottom: 1px solid $gray-dark
                & img
                    width: 70%
            &-number
                margin: 5px auto
                font-weight: bold
            &-month
                text-transform: lowercase