.portfolio
    padding-top: 30px
    background-color: $black
    color: #fff
    & .section-title
        margin-bottom: 20px
        padding: 0 20px
    &_category, &_objects
        padding: 0 10px 15px
        &__title
            padding-bottom: 10px
            padding-left: 10px
        &__list
            overflow-x: scroll
            &-item
                padding: 5px 10px
                color: $gray
                &.active
                    background-color: rgba(255, 255, 255, .1)
                    color: #fff
    &_item
        &-gallery img
            width: 100%
        &-body
            padding: 25px 20px 0
        &__title
            @include font-size(16px, 26px, bold)
        &__desc, &__comment
            padding: 15px 0 20px
        &__customer
            & img
                margin-right: 15px
                border-radius: 50%
            & span
                font-weight: bold