.process
    padding: 30px 20px
    background-color: $black
    color: #fff
    & .section-title
        margin-bottom: 30px
    &-content_item
        &__pic img
            width: 100%
        &-wrapper
            padding: 15px 0 17px
        &__title
            margin-bottom: 15px
            font-weight: bold
        &__desc li
            padding-bottom: 10px
            padding-left: 30px
            position: relative
            &:last-child
                padding-bottom: 0
            &::before
                content: ""
                width: 15px
                height: 2px
                background-color: $gold
                position: absolute
                top: 9px
                left: 0
