.tariffs
    padding: 30px 0
    & .section-title
        padding: 0 20px
        @include font-size(24px, 28px, bold)
    &-list
        padding: 20px 5px
        &_item
            margin: 0 15px
            font-weight: bold
            &.active
                border-bottom: 2px solid $bordo
    &-card
        padding: 0 20px
        &_pic img
            width: 100%
        &_body
            &__list
                padding-top: 20px
                & li
                    padding-top: 15px
                    padding-left: 30px
                    position: relative
                    &::before, &::after
                        content: ""
                        height: 2px
                        background-color: $gold
                        position: absolute
                        left: 0
                &-included li
                    &::before, &::after
                        top: 25px
                    &::before
                        width: 7px
                        transform: rotate(45deg) translateX(-1px)
                    &::after
                        width: 13px
                        transform: rotate(-45deg) translateX(4px)
                &-feat li
                    &::before, &::after
                        width: 14px
                        top: 24px
                    &::after
                        transform: rotate(90deg)
            &__price
                padding: 22px 0 18px
                font-weight: bold
                & span
                    @include font-size(18px, 28px, bold)
