.team
    padding: 20px 0 30px
    & .section-title
        padding: 0 20px 41px
    &-swiper
        padding-right: 20px
        padding-left: 20px
        & p
            margin-bottom: 7px
    &_item
        max-width: 203px
        &__photo
            width: 100%
            margin-bottom: 10px
        &__name
            font-weight: bold
        &__internship img
            margin-right: 5px