.trends
    padding-top: 30px
    background-color: $black
    color: #fff
    & .section-title
        padding: 0 20px
    &-swiper
        padding: 20px 45px 0
        &_item
            &__pic
                width: 100%
            &__title
                padding: 15px 0 7px
                font-weight: bold
        & .swiper-button
            display: flex
            justify-content: center
            align-items: center
            width: 32px
            height: 32px
            background-color: $black
            border: 1px solid #F2F0EE
            border-radius: 50%
            position: absolute
            top: 85px
            left: 6px
            &::before
                content: "\276E"
                line-height: 1
                position: absolute
                top: calc( 50% - 6px )
                left: calc( 50% - 4px )
            &-next
                right: 6px
                left: auto
                &::before
                    content: "\276F"
                    left: calc( 50% - 3px )