<template>
    <Header :class="{scrolled: !isTopOfPage}" :display="userDisplay" />
    <main>
        <FirstScreen />
        <Benefits />
        <Portfolio :display="userDisplay" />
        <AfterBefore />
        <Process />
        <Team />
        <Acquaintance />
        <Company />
        <Education />
        <Tariffs />
        <Trends />
        <Media />
        <Contacts />
    </main>
</template>

<script>
import Header from './components/Header.vue'
import FirstScreen from './components/FirstScreen.vue'
import Benefits from './components/Benefits.vue'
import Portfolio from './components/Portfolio.vue'
import AfterBefore from './components/Ab.vue'
import Process from './components/Process.vue'
import Team from './components/Team.vue'
import Acquaintance from './components/Acquaintance.vue'
import Company from './components/Company.vue'
import Education from './components/Education.vue'
import Tariffs from './components/Tariffs.vue'
import Trends from './components/Trends.vue'
import Media from './components/Media.vue'
import Contacts from './components/Contacts.vue'

export default {
    name: 'App',
    components: {
        Header,
        FirstScreen,
        Benefits,
        Portfolio,
        AfterBefore,
        Process,
        Team,
        Acquaintance,
        Company,
        Education,
        Tariffs,
        Trends,
        Media,
        Contacts
    },
    data () {
        return {
            userDisplay: 'mobile',
            isTopOfPage: true
        }
    },
    created () {
        this.setUserDisplay()
    },
    methods: {
        setUserDisplay () {
            const displayWidth = window.innerWidth
            if (displayWidth < 768) {
                this.userDisplay = 'mobile'
            } else if (displayWidth >= 768 && displayWidth < 1200) {
                this.userDisplay = 'tablet'
            } else {
                this.userDisplay = 'desktop'
            }
        }
    }
}
</script>
